body {
  margin: 0;
  height: 100vh;
  background: url("./assets/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

/* Overlay to control transparency */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* change this number */
  z-index: -1;
}

.app-container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  padding: 30px;
  width: 420px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  color: white;
}

h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 34px;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;

  background: rgba(0, 0, 0, 0.4);
  padding: 8px 20px;
  border-radius: 12px;

  text-shadow: 0 0 10px black;
}
@keyframes glow {
  from { text-shadow: 0 0 5px pink; }
  to { text-shadow: 0 0 20px hotpink; }
}

.input-section {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.task-item {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item span.completed {
  text-decoration: line-through;
  opacity: 0.6;
}